html {
  height: 100%; /* Use whole height of browser */
}
body {
  margin: 0;
  height: 100%;
  min-height: 100%;  /* Full height */
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body .wrapper {
  display: grid;  /* Use CSS grid */
  grid-template-rows: auto auto 1fr auto;  /* Sticky footer */
  margin: 0 auto;  /* Centers the page */
  min-height: 100%;  /* Full height */
  max-width: 1000px;  /* Set max width */
  padding: 1rem;
}
/* Messages */
.django-messages {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0;
  list-style: none;
}

.django-messages div {
  padding: 1rem;
}

.django-messages .success {
  background: #bdfcb3;
  color: #355430;
}
/*...*/  
/*
   * Style the <a> tags. Have a consistent colour for both visited
   * and unvisited links. Show underline on hover only.
   */
a {
  color: #131212;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}
  
  /* Style the header area */
#site-header h1 {
  padding: 0;
  margin: 0;
}
  
#site-header p {
  font-size: 0.9rem;
  color: rgb(17, 16, 16);
  padding: 20;
  margin: 20;
}
  
  /* Style the top nav */
#top-nav {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(49, 8, 235);
  text-shadow: 1px 1px rgb(103, 104, 102);
}
  
#top-nav ul {
  margin: 0;
  padding: 0;
}
  
#top-nav li {
  margin-top: 1rem;
  list-style-type: none;
  display: inline-block;
  padding-right: 1rem;
}
  
#top-nav a {
  text-decoration: none;
  font-weight: bold;
}
  
  /* Style the main content */
#main-content {
  margin-top: 25px;
  display: grid;
  /* The grid has 2 columns. 1 with auto width, the other is 200px wide */
  grid-template-columns: auto 200px;
}
  
  /* Style the footer */
#footer {
  font-size: 0.9rem;
  background-color:rgb(213, 214, 223);
  padding:100px;
  margin: top 100px;
}  

#logo{
  width: 500px;
  height: 500px;
  box-shadow:5px 5px 10px rgb(244,173, 247);
}
/* Post preview */
.post-preview {
  border-bottom: 1px #eee solid;
}
.post-preview h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-preview time {
  color: rgb(185, 38, 38);
}

.post-preview section {
  margin: 1rem 0;
}

/* Post detail article */
#post-detail-article h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#post-detail-article .author {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(68, 3, 247);
}

#post-detail-article .published {
  color: rgb(80, 4, 4);
  font-size: 0.9rem;
}

#post-detail-article .content {
  margin: 2rem 0;
}

#topic-detail-article h1{
  color: rgb(2, 19, 66); 
}
#topic-detail-article p {
  color: rgb(2, 19, 66);
}

form table tbody tr th {
  max-width: 200px;
  text-align: right;
  padding: 0.5em 1em 0.5em 0;
  font-weight: 100;
}

/* Add some vertical spacing between rows */
form table tbody td {
  padding: 0.5em 0;
}

/* Style inputs */
input {
  border-radius: 0px;
  font-size: 1em;
  padding: 0.3em 0.5em;
}

/* Style button */
button {
  font-size: 1em;
  color: #000;
  cursor: pointer;
  padding: 0.5em 3em;
  border: 1px solid #999;
  background: #eee;
}

/* Style select */
select {
  font-size: 1em;
  padding: 1em;
  line-height: 1.5em;
}

/* Style error messages */
form .errorlist {
  font-size: 0.9em;
  font-weight: bold;
  color: red;
  padding: 0 0 0 1.5em;
  margin: 0;
}
p{
  display: block;
  margin: 0 auto;
}
