{% load static %} <link rel="stylesheet" href="{% static "blog/base.css" %}">
<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Blog - {% block page_title %}An awesome blog{% endblock %}</title>
        <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"/>
    </head>

    <body>
      {% if messages %}
      <div class="django-messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {# Make a wrapper around the content #}
      <div class="wrapper">
        <!-- The header -->
        <header id="site-header">
            <h1>My Blog</h1>
            <p>A blog about awesomeness</p>
        </header>
        <img id="logo" src="{% static "blog/logo.png" %}" alt="Logo" width="500px" height="500px">
        <!-- Top navigation -->
        <nav id="top-nav">
            <ul>
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "post-list" %}">Posts</a></li>
                <li><a href="{% url "topic-list"%}">Topics</a></li>
                <li><a href="{% url "photo-contest"%}">Photo Cotest</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
            </ul>
        </nav>
        <main id="main-content">
          <div>
            {% block main %}
            <!-- Content for the main block will be rendered here -->
            {% endblock %}
          </div>
          <div>  
            <aside id="sidebar">
                <section id="author-list">
                  <h3>Authors</h3>
                  <ul>
                    {% for author in authors %}
                      <li>{{ author.get_full_name }}</li>
                    {% endfor %}
                  </ul>
                </section>
                <section id="topics-list">
                  <h3>Top Topics</h3>
                  <ul>
                    {% for topic in topics %}
                      <li><a href={{ topic.get_absolute_url}}>{{ topic.name }}({{topic.num_posts}})</a></li>
                    {% endfor %}
                  </ul>
                </section>
              </aside>
              </div>
        </main>
        <!-- The footer -->
        <footer >
            <!-- Print copyright with the current year -->
            <div id="footer">
            Copyright &copy;{% now 'Y' %}
            <a href="{% url "terms-and-conditions" %}">Terms & conditions</a>
          </div>
        </footer> 
        </div>
        <script src="{% static "blog/comments.js" %}"></script>
    </body>
</html>